<nav id="navigation-bar" class="navbar navbar-expand-lg navbar-light rounded" style="padding: 0px; background: white;">
    <a class="navbar-item">
      <img src="assets/images/alaya.png" height="50" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mc-auto">
        <li class="nav-item dropdown" style="width: 105 px; margin-left: 10px;">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ordenar Por</a>
          <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Buscar una idea" aria-label="Search" style="width: 300px">
      </form>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button class="btn" style="height: 35px; width: 150px; margin-left: 10px; background-color: #0079d3">
          <font color="white"><strong>Publicar</strong></font> </button>
        </li>
        <li class="nav-item active">
          <button class="btn" style="width: 100px; margin-left: 10px;background-color: #0079d3" href="#"> <font color="white"><strong>Retos</strong></font> <img src="assets/images/logo-estrella.png" style="width: 25%; margin-left: 3px; margin-bottom: 4px;"></button>
          <span class="glyphicon glyphicon-star"></span>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 200px;"><img src="assets/images/foto-perfil.jpg" style="width: 20%; margin-right: 8px;">Nombre de usuario</a>
          <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
</nav>
