<div id="contenedor">
    <div id="columna1">
	   	<table style="border: 1px solid grey;">
	   		<tr>
	   		<td>
	   			<h4>1</h4>
	   		</td>
	   		<td>
				<img src="assets/images/tecnologia.jpg" style="height: 65px;">
			</td>
			<td>
				<tr>Sistema distribuido que detecta posibles accidentes de tránsito mediante la geolocalización, conectado a través de un servicio.</tr>
				<tr>Posteado por Basil Ossandón hace 7 horas atrás.</tr>
				<tr>
					<td>Comentarios        Me gusta        Reportar</td>
				</tr>
			</td>
			</tr>
		</table> 
		<table style="border: 1px solid grey;">
	   		<tr>
	   		<td>
	   			<h4>2</h4>
	   		</td>
	   		<td>
				<img src="assets/images/medioambiente.jpeg" style="height: 73px;">
			</td>
			<td>
				<tr>Proceso de trata de aguas servidas para la producción de abono destinado al uso de cultivos agropecuarios en septima región .</tr>
				<tr>Posteado por Mateo Sepúlveda hace 5 horas atrás.</tr>
				<tr>
					<td>Comentarios        Me gusta        Reportar</td>
				</tr>
			</td>
			</tr>
		</table>
    </div>
    <div id="columna2">
        columna visualizadora de retos
    </div>
</div>