<br><br><br>
<div class="ui one column aligned page grid">
	  <div class="column fifteen wide">
	  <form class="ui large form segment">
	    <h3 class="ui header">Publicar idea</h3>
	    <div class="field">
	      <label for="title">Titulo:</label>
	      <input name="title" #newtitle>
	    </div>

	    <div class="field">
	      <label for="link">Descripcion:</label>
	      <input name="link" #newlink>
	    </div>
<select>
	     	<option value="volvo">LIBRE</option>
			<option value="volvo">BIOTECNOLOGIA</option>
			<option value="saab">BLOCKCHAIN</option>
			<option value="mercedes">CIBERSEGURIDAD</option>
			<option value="audi">FINANZAS</option>
			<option value="audi">GESTION</option>
</select> 
	    <button (click)="submit(newtitle, newlink)" style="margin-top: 10px" type="submit" 	class="ui positive right floated button">Submit</button>
	    
	    <button style="margin-top: 10px" type="submit" 	class="ui positive right floated button">Submit old</button>
	  </form>
	</div>
</div>